*{
    font-family: calibri, sans-serif;
    margin: 0;
}

/* ==================== Barre de navigation ==================== */
.navbar{
    width: 95%;
    font-size: 20px;
    margin: 20px ;
    display: flex;
    justify-content: center;
    position: relative;
}
a{
    text-decoration: none;
}
.link{
    color: rgb(154, 153, 153);
    text-decoration: none;
    margin: 0 15px;
}
.link:hover{
    color: #000;
    transition: .3s;
}
.active{
    color: #000;
    font-weight: 600;
}
.logo{
    position: absolute;
    left: 0;
}
.logo img{
    width: 135px;
}
@media screen and (max-width: 1300px){
    .navbar{
        justify-content: end;
    }
    .link{
        margin: 0 10px;
    }
}
@media screen and (max-width: 1100px) {
    .navbar{
        flex-direction: column;
    }
    .logo{
        position: initial;
    }
    .link{
        margin: 2px 10px;
    }
}


/* ==================== Pied de page ==================== */
hr{
    margin: 20px 20px 10px 20px;
}
.social{
    width: 40px;
    height: 40px;
    margin: 10px 7px;
}
.ig{
    width: 50px;
    height: 38px;
}
.linkedin{
    height: 35px;
    width: 33px;
}


/* ==================== Section ==================== */
.container{
    margin: 10px 20px !important;
}
fieldset{
    font-size: 18px;
}
.titre{
    font-size: 30px;
    color: goldenrod;
}


/* ==================== Quizz ==================== */
.question {
    margin-bottom: 30px;
}
.question strong{
    margin-bottom: 8px;
}
.question img{
    width: 275px;
    height: 175px;
    margin-left: 15px;
}
.imagefield{
    width: 300px;
    text-align: center;
}
.answers{
    margin-left: 15px;
}
.answer{
    margin: 12px 0;
}
button, button a{
    padding: 7px 30px;
    color: #fff;
    font-size: 18px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 30px;
}